body{
    background-color: darkgreen;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 15vh;

}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;

}

#dealer{
    width: 300px;
    position: relative;
    left: 33.6%;
}

#player{
    width: 300px;
    position: absolute;
    top: 37.7%;
    left: 50.2%;
}

button{
    width: 200px;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    font-size: 30px;
    font-weight: bold;
    background-color: goldenrod;
    color: #016f32; 
}

button:active{
    background-color: hsl(51, 100%, 33%);
}
